*{
	margin: 0px;
	padding: 0px;
}

body {
	background-image: url('https://img.freepik.com/premium-photo/screen-with-number-1-it_1034303-514933.jpg?ga=GA1.1.1161765463.1690940258&semt=ais_hybrid');
	background-repeat: no-repeat;
 	background-size: cover;
}

.image{
	height: 200px;
	width: 200px;
/*	float: right;*/
}

.lists{
	display: inline-block;
	margin: 100px;
}

.lists li{
	display: inline;
	margin: 50px;
}


.container{
	padding-top: 20px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 250px;
	border: 10px solid red;
	background-image: url('https://img.freepik.com/free-vector/elegant-white-background-with-shiny-lines_1017-17580.jpg?ga=GA1.1.1161765463.1690940258&semt=ais_hybrid');
	background-repeat: no-repeat;
 	background-size: cover;
	border-radius: 50px;
}

.profile{
	height: 100px;
	width: 100px;
	margin-left: 35%;

}


.sign{
	margin-left: 45%;
}

button{
	margin-left: 35%;
	color: black;
	width: 100px;
	height: 20px;
	border: 2px solid green;
	border-radius: 50px;
}

a{
	margin-left: 35%;
}

.container div{
	margin: 10px;
}

input{
	border: 2px solid black;
}