*{
	margin: 0px;
	padding: 0px;
}

.dom{
	margin-left: 40%;
	margin-top: 100px;
	font-size: x-large;
}

.position{
	margin-left: 40%;
	margin-top: 100px;
	font-size: x-large;
}

.flex{
	margin-left: 40%;
	margin-top: 100px;
	font-size: x-large;

}

.one{
	height: 150px;
	width: 200px;
	font-size: large;
	margin-left: 40%;	
	border: 2px solid black;
	background-color: skyblue;
}

.first{
	margin: 10px;
	color: green;
}

#second{
	margin: 10px;
	color: yellow;
}

.container p:nth-child(3){
	margin: 10px;
	color: purple;
}

.main p{
	margin: 10px;
	color: green;
}

.content{
	display: flex;
	height: 400px;
	width: 500px;
	background-color: pink;
	border: 2px solid black;
	margin-left: 30%;
	flex-direction: column;
}

.item{
	height: 100px;
	width: 100px;
	background-color: red;
	border: 2px solid black;
	margin: 10px;
}

.content2{
	display: flex;
	height: 400px;
	width: 500px;
	background-color: red;
	border: 2px solid black;
	margin-left: 30%;
	margin-top: 30px;
}

.item2{
	height: 100px;
	width: 100px;
	background-color: pink;
	border: 2px solid black;
	margin: 10px;
}

.parent{
	position: relative;
	height: 500px;
	width: 500px;
	background-color: yellow;
	border-radius: 50%;
	margin-left: 30%;
	border: 2px solid black;
}

.child{
	position: absolute;
	margin: 50%;
	height: 200px;
	width: 200px;
	background-color: green;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	border: 2px solid black;
}