*{
	margin: 0;
	padding: 0;
}


.parent{
	position: relative;
	height: 700px;
	width: 700px;
	background-color: yellow;
	margin-top: 30px;
	margin-left: 400px;
	border-radius: 100%;
}

.mchild{
	position: absolute;
	height: 450px;
	width: 450px;
	background-color: orange;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 100%;

}

.child{
	position: absolute;
	height: 200px;
	width: 200px;
	background-color: red;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 100%;
}

.topleft{
	margin-left: 100px;
	margin-top: 100px;
}

.firstparent{
	position: relative;
	height: 300px;
	width: 300px;
	background-color: grey;
	margin-left: 100px;
	border: 2px solid black;
	
}

.firstchild{
	position: absolute;
	height: 100px;
	width: 100px;
	background-color: hotpink;
	border: 2px solid red;
}

.middle{
	margin-left: 550px;
	margin-top: -320px;
}

.secondparent{
	position: relative;
	height: 300px;
	width: 300px;
	background-color: grey;
	margin-left: 550px;
	border: 2px solid black;
	margin-bottom: 100px;
}

.secondchild{
	position: absolute;
	height: 100px;
	width: 100px;
	background-color: hotpink;
	border: 2px solid red;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.bottomright{
	margin-left: 1000px;
	margin-top: -430px;
}

.thirdparent{
	position: relative;
	height: 300px;
	width: 300px;
	background-color: grey;
	margin-left: 1000px;
	border: 2px solid black;
	margin-bottom: 100px;
}

.thirdchild{
	position: absolute;
	height: 100px;
	width: 100px;
	background-color: hotpink;
	border: 2px solid red;
	right: 0px;
	bottom: 0px;
}

.flex{
	margin-left: 45%;
	margin-bottom: 10px;
}

.box{
	display: flex;
	height: 500px;
	width: 900px;
	margin-left: 50%;
	transform: translate(-50%);
	background-color: yellow;
	align-items: center;
	justify-content: center;

}

.label{
	height: 100px;
	width: 100px;
	background-color: red;
	margin: 20px;
}