.container{
    .content{
        .main{
            p{
                height: 200px;
                background-color: pink;
            }
            ul{
                background-color: red;
            }
        }
    }
}